.contacts__container {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: min-content 1fr min-content;
    column-gap: 151px;
    letter-spacing: 0.0015em;

    @media (max-width: $tablet-width) {
        grid-template-columns: 455px 1fr;
        column-gap: 0;
    }

    @media (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
    }
}

/*.contacts__text-wrap {
   
}*/

.contacts__subtitle {
    margin-bottom: 20px;

    @media (max-width: $tablet-width) {
        margin-bottom: 10px;
    }

    @media (max-width: $mobile-width) {
        margin-bottom: 15px;
    }
}

.contacts__text {
    margin-bottom: 60px;

    @media (max-width: $tablet-width) {
        margin-bottom: 40px;
    }

    @media (max-width: $mobile-width) {
        margin-bottom: 30px;
    }
}

.contacts__form {
    grid-row: 2 / -1;
    order: 3;
    display: flex;
    flex-direction: column;

    @media (max-width: $tablet-width) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-bottom: 40px;
    }

    @media (max-width: $mobile-width) {
        order: 2;
    }
}

.contacts__label {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 14px;
    line-height: 150%;
}

.contacts__input,
.contacts__select-btn,
.contacts__comment-field {
    font-size: 16px;
    line-height: 150%;
    border: none;
    border-bottom: 1px solid $color-grey-rgba-50;
    background: none;
    padding: 0;
    padding-bottom: 5px;
    outline: none;
    letter-spacing: 0.0015em;

    @media (max-width: $tablet-width) {
        width: 364px;
    }

    @media (max-width: $mobile-width) {
        width: auto;
    }
}

.contacts__input {
    &::placeholder {
        font-weight: 200;
        color: $color--black;
    }

    &:first-of-type {
        margin-top: 5px;
    }
}

.contacts__select-btn {
    text-align: left;
    font-weight: 200;
    cursor: pointer;
}

.select-list {
    display: none;

    &.active {
        display: block;
    }
}

.contacts__comment-field {
    margin-bottom: 20px;

    &::placeholder {
        font-weight: 200;
        color: $color--black;
    }

    @media (max-width: $tablet-width) {
        margin: 0;
    }
}

.contacts__label,
.contacts__select-btn {
    margin-bottom: 40px;

    @media (max-width: $tablet-width) {
        margin-bottom: 30px;
    }
}

.contacts__btn-wrap {
    @media (max-width: $tablet-width) {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }

    @media (max-width: $mobile-width) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }
}

.contacts__info {
    font-weight: 200;
    font-size: 14px;
    line-height: 150%;

    @media (max-width: $tablet-width) {
        width: 225px;
        order: 2;
    }
}

.contacts__button {
    width: 210px;
    margin-top: 60px;

    @media (max-width: $tablet-width) {
        order: 1;
        margin: 0;
        margin-right: 20px;
    }

    @media (max-width: $mobile-width) {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
}

.contacts__map-wrap {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    max-width: 749px;
    height: 493px;
    background-color: $color-blue3;

    @media (max-width: $tablet-width) {
        grid-column: 1 / -1;
        grid-row: 3 / -1;
    }

    @media (max-width: $mobile-width) {
        width: 320px;
        height: 149px;
        order: 4;
    }
}

.contacts__map {
    @media (max-width: $mobile-width) {
        width: 320px;
        height: 149px;
    }
}


.contacts-list {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
    display: flex;
    column-gap: 78px;

    @media (max-width: $tablet-width) {
        flex-direction: column;
        grid-row: 2 / 3;
        order: 3;
    }

    @media (max-width: $mobile-width) {
        display: grid;
        grid-template-columns: 147px 159px;
        column-gap: 14px;
        margin-bottom: 30px;
    }
}

.contacts-list__item {
    width: max-content;

    @media (max-width: $tablet-width) {
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }
}

.contacts-list__caption {
    font-weight: normal;
    font-size: 20px;
    line-height: 125%;
    margin-bottom: 10px;

    @media (max-width: $mobile-width) {
        width: 147px;
        font-size: 16px;
        line-height: 125%;
    }
}

.contacts-list__text {
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;

    @media (max-width: $mobile-width) {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.0015em;
    }
}

.contacts-list__text--wrap {
    width: 100px;

    @media (max-width: $tablet-width) {
        width: 100%;
    }
}