.discounts__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.discounts__link-wrap {
    display: flex;
    align-items: center;
}

.discounts__link {
    font-family: "Circe", san-serif;
    font-size: 18px;
    line-height: 27px;
    color: $color--black;
    margin-right: 10px;
}

.discounts-list {
    display: flex;
    column-gap: 20px;
}

.discounts-list__img-wrap {
    width: 325px;
    height: 258px;
    border-radius: 10px;
    background-color: $color--header-col;
    margin-bottom: 20px;
}

.discounts-list__date {
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.0015em;
}

.discounts-list__caption {
    margin: 10px 0 20px;
}

.discounts-list__links-wrapper {
    display: flex;
    align-items: center;
}

.discounts-list__link {
    width: 180px;
    height: 42px;
}

.discounts-list__link-more {
    font-family: "Circe", san-serif;
    @include font-18;
    color: $color--blue;
    margin-left: 20px;
}