.footer {
    @include font-16;
    height: 300px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);

    @media (max-width: $tablet-width) {
        height: 316px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        height: 496px;
        font-size: 14px;
        line-height: 140%;
    }
}

.footer__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    column-gap: 122px;
    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: $laptop-width) {
        column-gap: 50px;
    }

    @media (max-width: $tablet-width) {
        position: relative;
        column-gap: 34px;
        padding-bottom: 60px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        position: relative;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content max-content max-content;
        row-gap: 30px;
        padding-bottom: 40px;
    }

    @media (max-width: $mobile-width-l) {
        column-gap: 73px;
    }

    @media (max-width: $mobile-width-m) {
        column-gap: 43px;
    }

    @media (max-width: $mobile-width) {
        column-gap: 44px;
    }

    @media (max-width: $mobile-width-s) {
        column-gap: 46px;
    }
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet-width) {
        margin-right: 40px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        order: 1;
        margin: 0;
    }
}

.social-list {
    display: flex;
    width: 112px;

    .social-list__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border: 1px solid $color--header-col;
        border-radius: 50%;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;

        &:not(:last-of-type) {
            margin-right: 20px;
        }
    }

    .social-list__link--vk {
        position: absolute;
        top: 6.5px;
        left: 2px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        position: absolute;
        bottom: 78px;
    }
}

.footer-nav {
    width: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &:nth-of-type(2) {
        margin-right: 24px;

        @media (max-width: $laptop-width) {
            margin: 0;
        }
    }

    &:last-of-type {
        margin-left: 120px;

        @media (max-width: $laptop-width) {
            margin: 0;
        }
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        row-gap: 10px;

        &:first-of-type {
            order: 3;
        }

        &:nth-of-type(2) {
            order: 4;
        }

        &:last-of-type {
            order: 2;
        }

    }
}

.footer-nav__link {
    @include nav-link;

    @media (max-width: $mobile-width-s) {
        font-size: 12px;
    }
}

.footer-nav__text {
    font-family: "Circe", san-serif;
    color: $color--black;
}

//position item

.footer-nav__item--programs {
    @media (max-width: $tablet-width) {
        display: none;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        display: block;
    }
}

.footer-nav__item--price {
    @media (max-width: $tablet-width) {
        order: 3;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        position: absolute;
    }

    @media (max-width: $mobile-width-l) {
        right: 131px;
    }

    @media (max-width: $mobile-width-m) {
        right: 111px;
    }
    
    @media (max-width: $mobile-width) {
        right: 95px;
    }

    @media (max-width: $mobile-width-s) {
        right: 73px;
    }
}

.footer-nav__item--health {
    @media (max-width: $tablet-width) {
        order: 1;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin-top: 30px;
    }
}

.footer-nav__item--weight {
    @media (max-width: $tablet-width) {
        order: 2;
    }
}

.footer-nav__item--conf {
    margin-top: 38px;

    @media (max-width: $tablet-width) {
        width: 162px;
        order: 4;
        margin-top: 76px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: 149px;
        position: absolute;
        bottom: 70px;
    }

    @media (max-width: $mobile-width-l) {
        right: 67px;
    }

    @media (max-width: $mobile-width-m) {
        right: 48px;
    }

    @media (max-width: $mobile-width) {
        right: 32px;
    }

    @media (max-width: $mobile-width-s) {
        right: -3px;
    }
}

// 2 nav

.footer-nav__item--specialist {
    @media (max-width: $tablet-width) {
        order: 3;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        position: absolute;
        left: 20px;
        top: 256px;
    }
}

.footer-nav__item--contact {
    @media (max-width: $tablet-width) {
        position: absolute;
        top: 160px;
        left: 206px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        position: static;
        margin-top: 30px;
    }
}

.footer-nav__item--rehab {
    @media (max-width: $tablet-width) {
        order: 1;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        order: 3;
    }
}

.footer-nav__item--velnes {
    @media (max-width: $tablet-width) {
        width: 154px;
        order: 2;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: 159px;
        order: 4;
    }

    @media (max-width: $mobile-width-s) {
        width: 125px;
    }
}

.footer-nav__item--rights {
    margin-top: 38px;

    @media (max-width: $tablet-width) {
        order: 4;
        margin-top: 56px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        position: absolute;
        left: 20px;
        bottom: 40px;
    }
}

//3 nav

.footer-nav__item--address {
    @media (max-width: $tablet-width) {
        width: 147px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: 129px;
    }
}

.footer-nav__item--copyright {
    margin-top: 79px;

    .footer-nav__link--copyright {
        font-weight: bold;
        margin-left: 5px;
    }

    @media (max-width: $tablet-width) {
        margin-top: 56px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        position: absolute;
        bottom: 40px;
    }

    @media (max-width: $mobile-width-l) {
        right: 84px;
    }

    @media (max-width: $mobile-width-m) {
        right: 65px;
    }

    @media (max-width: $mobile-width) {
        right: 49px;
    }

    @media (max-width: $mobile-width-s) {
        right: 22px;
    }
}
