.programs-block__list {
    display: flex;
}

.programs-block__item {
    text-align: center;

    &:not(:last-of-type) {
        margin-right: 20px;
    }
}

.programs-block__img-wrap {
    width: 325px;
    height: 402px;
    border-radius: 10px;
    background-color: $color--header-col;
}