.programs-block__list {
    display: flex;
    column-gap: 20px;

    @media (max-width: $tablet-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 45px;
    }

    @media (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
}

.programs-block__item {
    text-align: center;
}

.programs-block__img-wrap {
    width: 325px;
    height: 402px;
    border-radius: 10px;
    background-color: $color--header-col;

    @media (max-width: $tablet-width) {
        width: 354px;
        height: 402px;
    }

    @media (max-width: $mobile-width) {
        width: 320px;
        height: 363px;
    }
}

.programs-block__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center center;
    border-radius: 10px;
}