.programs-block__list {
    display: flex;
    column-gap: 20px;

    @media (min-width: $tablet-width-xs) and (max-width: $laptop-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 45px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $tablet-width-xs) {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}

.programs-block__item {
    text-align: center;

    @media (min-width: $tablet-width) and (max-width: $laptop-width) {
        justify-self: center;
    }
}

.programs-block__wrap {
    max-width: 325px;
    height: 402px;
    border-radius: 10px;
    background-color: $color--header-col;

    @media (min-width: $tablet-width) and (max-width: $laptop-width) {
        max-width: 354px;
        height: 402px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        max-width: 320px;
        height: 363px;
    }

    @media (max-width: $mobile-width-s) {
        max-width: 280px;
        height: 323px;
    }
}

.programs-block__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}