.reviews {
    .swiper-container {
        overflow: visible;
    }
}

.reviews__container {
    position: relative;
}

.reviews__list {
    display: flex;

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}

.reviews__item {
    margin-right: 20px;

    &.swiper-slide {
        width: auto;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin: 0;
    }
}

.reviews__img-wrap {
    @include list-img;

    @media (max-width: $tablet-width) {
        width: 435px;
        height: 290px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: 320px;
        height: 213px;
    }

    @media (max-width: $mobile-width-s) {
        width: 280px;
        height: 173px;
    }
}

.reviews__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    border-radius: 10px;
}

.reviews__caption {
    @include list-caption;
}

.reviews__desc {
    font-weight: 200;

    @media (max-width: $tablet-width) {
        font-size: 16px;
        line-height: 150%;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        font-size: 14px;
    }
}

.reviews__btn-wrap {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    @media (max-width: $tablet-width) {
        width: 80px;
        height: 80px;

        .btn-video {
            width: 100%;
            height: 100%;

            .btn-video__svg {
                width: 30px;
                height: 30px;
                top: 26px;
                left: 28px;
            }
        }
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: 60px;
        height: 60px;

        .btn-video {
            width: 100%;
            height: 100%;

            .btn-video__svg {
                width: 23px;
                height: 23px;
                top: 18px;
                left: 20px;
            }
        }
    }
}


.review__link {
    display: none;

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: 121px;
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
    }
}

.swiper-button-prev,
.swiper-button-next {
    width: 47px;
    top: -70px;
}

.swiper-button-prev {
    justify-content: flex-start;
    left: 92%;

    &::before {
        top: 21px;
    }
}

.swiper-button-next {
    justify-content: flex-end;
    right: 0;

    &::before {
        top: 21px;
        right: 2px;
    }
}

.swiper-button-prev::before,
.swiper-button-next::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: $color--blue;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 18px;
    font-weight: 900;
    color: $color--blue;
}
