.reviews {
    .swiper-container {
        overflow: visible;
    }
}

.reviews__list {
    display: flex;
}

.reviews__item {
    &.swiper-slide {
        width: auto;
    }
}

.reviews__img-wrap {
    @include list-img;
}

.reviews__caption {
    @include list-caption;
}

.reviews__desc {
    font-weight: 200;
}

.reviews__btn-wrap {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}