.specialists-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 40px;

    @media (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
    }
}

.specialists-list__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    column-gap: 20px;

    @media (max-width: $tablet-width) {
        row-gap: 20px;
    }
}

.specialists-list__img-wrap {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    width: 210px;
    height: 195px;
    border-radius: 10px;
    background-color: $color--header-col;

    @media (max-width: $tablet-width) {
        width: 91px;
        height: 126px;
    }
}

.specialists-list__img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center top;
    border-radius: 10px;
}

.specialists-list__wrap {
    align-self: center;
}

.specialists-list__caption {
    font-family: "Circe", sans-serif;
    color: $color--blue;
}

.specialists-list__text {
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.0015em;

    &:first-of-type {
        margin: 5px 0;
    }
}

.specialists-list__wrapper {
    display: flex;
    align-items: center;

    @media (max-width: $tablet-width) {
        grid-column: 1 / -1;
        flex-direction: column;
        align-items: flex-start;
    }
}

.specialists-list__link {
    max-width: 206px;
    min-height: 47px;

    @media (max-width: $tablet-width) {
        width: 182px;
    }
}

.specialists-list__price-info {
    font-family: "Circe", sans-serif;
    @include font-18;
    margin-left: 20px;

    @media (max-width: $tablet-width) {
        font-size: 16px;
        line-height: 140%;
        margin: 0;
        margin-top: 10px;
    }
}