$color--black: #382719;
$color--blue: #0067CA;
$color-blue2: #025EB7;
$color-blue3: #3490E9;
$color-white: #FFFFFF;
$color--header-col: #9B6044;
$color-pp-background: #CACACC;
$color-lightgrey: #DEE2EB;

$color-grey-rgba-50: rgba(56, 39, 25, 0.5);
$color-light-blue-50: rgba(149, 203, 255, 0.5);
$color-darkgrey: rgba(0, 0, 0, 0.2);


* {
    box-sizing: border-box;
}

body {
    font-family: "Spectral", serif;
    font-size: 20px;
    line-height: 125%;
    color: $color--black;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    outline: none;
}

.content {
    flex: 1;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

//buttons

.button {
    min-width: max-content;
    font-family: "Circe", sans-serif;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border: none;
}

.button--border {
    border: 1.5px solid $color--blue;
    filter: drop-shadow(1px 2px 10px rgba(27, 66, 109, 0.1));
    color: $color--blue;

    &:hover {
        color: $color-white;
        background-color: $color--blue;
        box-shadow: 1px 2px 10px rgba(27, 66, 109, 0.1);
        transition: 0.2s;
    }

    &:active {
        background-color: $color-blue2;
    }
}

.button--background {
    color: $color-white;
    background-color: $color--blue;
    box-shadow: 1px 2px 10px rgba(27, 66, 109, 0.1);

    &:hover {
        background-color: $color-blue3;
        transition: 0.2s;
    }

    &:active {
        background-color: $color-blue2;
    }
}

//titles

.title, .subtitle {
    font-family: "Circe", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 125%;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.caption {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 125%;

    margin-top: 20px;
}

@import './common/normalize';
@import './common/swiper-bundle.min';
@import './common/mixins';
@import './common/fonts';

@import './common/header';
@import './common/footer';
@import './common/btn-video';
@import './common/programs-block';
@import './common/reviews';
@import './common/contacts';
@import './common/specialists-block';
@import './common/discounts';
@import './common/tabs-links';

@import './pages/index';
@import './pages/main';
@import './pages/programs';
@import './pages/referral';
@import './pages/prices';
@import './pages/doctors';
@import './pages/contacts';