extends ../template

block variables
  - var title = 'Статья'

block content
    main.main
        section.article
            .article__container.container
                date.article__date 01.01.2019
                h1.article__title.title Центр движения «Кинезия»
                img.article__image(src="app/images/article-image-tiger.jpg" alt="Тигр")

                .article__wrapper
                    .article__wrap
                        p.article__text Возможными вариантами заданий по конкретным опасным или вредным факторам, которые будут выбраны в качестве основных для последующего рассмотрения, могут быть следующие:

                        
                        h3.article__caption Шум
                        p.article__text — Разрабатываемого оборудования;
                        p.article__text — Используемого готового оборудования;
                        p.article__text — Расчёт эффективности снижения шума в рабочих помещениях акустическими экранами (ГОСТ 31287–2005);
                        p.article__text — Составление шумовой карты рабочего места (ГОСТ Р 52797.1–2007);
                        p.article__text — Расчёт-прогноз иммиссии шума от устанавливаемого технического средства в помещении (ГОСТ Р 52797.3–2007);
                        p.article__text — Расчёт требований по иммиссии шума изделием для обеспечения санитарных норм для заданного вида деятельности.

                        
                        h3.article__caption Освещение
                        p.article__text — Расчёт защитного угла и выбор светильников для ограничения блескости (ГОСТ ИСО 8995–2002);
                        p.article__text — Расчёт необходимого количества светильников для обеспечения требований по освещѐнности рабочего места (по коэффициенту использования точечным методом);
                        p.article__text — Расчёт расположения светильников для обеспечения равномерности освещённости в помещении;

                        .article__slider.article-slider
                            .article-slider__container-top.swiper-container
                                .article-slider__wrapper.swiper-wrapper
                                    figure.article-slider__slide.swiper-slide
                                        img.article-slider__img(src="app/images/article-slide-image1.jpg" alt="")
                                        figcaption.article-slider__caption Купоны из «Теремка»
                                    figure.article-slider__slide.swiper-slide
                                        img.article-slider__img(src="app/images/article-slide-image2.jpg" alt="")
                                        figcaption.article-slider__caption Купоны из «Теремка»
                                    figure.article-slider__slide.swiper-slide
                                        img.article-slider__img(src="app/images/article-slide-image3.jpg" alt="")
                                        figcaption.article-slider__caption Купоны из «Теремка»

                            .article-slider__container-bottom.swiper-container
                                .article-slider__wrapper.swiper-wrapper
                                    .article-slider__slide.swiper-slide
                                        img.article-slider__img(src="app/images/article-slide-image1.jpg" alt="")
                                    .article-slider__slide.swiper-slide
                                        img.article-slider__img(src="app/images/article-slide-image2.jpg" alt="")
                                    .article-slider__slide.swiper-slide
                                        img.article-slider__img(src="app/images/article-slide-image3.jpg" alt="")

                        p.article__text К примеру, некоторые технологические процессы требуют использования чистых помещений. Как должны быть организованы система вентиляции, особенно если подпор воздуха идёт снизу, и сама работа, чтобы люди, в особенности женщины, не получали простудных заболеваний? Это одна из задач, которая должна быть решена с помощью проектирования самой вентиляции или разработкой организационных мероприятий (используемая рабочая одежда и пр.).

                    .article__side-wrap
                        p.article__side-text С момента обращения в бюро мы привлекаем к общению людей, которые будут заниматься вашим проектом. Мы сразу введём в курс дела команду — ведь самое главное говорится вначале, потом начинаются детали.
                        p.article__side-text Поэтому мы просим клиентов письменно ответить на наши вопросы, чтобы понять, как мы можем быть полезны и кто в бюро займётся проектом.
                        p.article__side-text Мы тщательно изучим ответы и попросим вас о подробной встрече. Приносим искренние извинения, если не ответим на ваше письмо — это лишь значит, что мы не видим возможности помочь в вашей задаче. Мы будем рады оказаться полезны в будущем.
                        p.article__side-text Пишите: 
                            a.article__side-contact(href="#") info@kinesia.ru
