extends ../template

block variables
  - var title = 'Политика конфиденциальности'

block content
    main.main.conf-main

        section.conf
            .conf__container.container
                h1.conf__title.title Политика конфиденциальности
                .conf__wrap
                    p.conf__text Бюро, действующее на основании Устава, и Клиент, действующий на основании Устава, совместно именуемые Стороны, заключили Договор о нижеследующем.

                    p.conf__text 1. Термины<br> Мы с вами договорились о следующем.

                    p.conf__text 1.1. Договор — настоящий документ на 6 страницах в двух подлинных экземплярах, все приложения, все дополнительные соглашения и электронные документы, отвечающие условиям пункта 10.3.

                    p.conf__text Во-первых, о понятиях, используемых в работе над вашим проектом, например:

                    p.conf__text Задание — приложение, в котором описывается содержание работ: цели, срок и оценка. Оно составляется в результате нашего общения перед началом работы. По договору может быть выдано неограниченное количество заданий, но любые совместные работы ведутся по принципам ФФФ: fix time and budget, flex scope.

                    p.conf__text 1.2. Задание — неотъемлемое приложение к Договору, определяющее условия выполнения работ и содержащее:<br> описание задачи с указанием полезной цели работы, списком разрабатываемых Элементов дизайна, приоритетности функций;<br>недельную ставку и стоимость работ;<br> план и срок работ, включая дату начала и окончания, график выполнения и согласования работ;<br> технические ограничения, которым должны удовлетворять Элементы дизайна, а также оборудование и программное обеспечение, необходимое для надлежащей эксплуатации;<br> принципы совместной работы, уточняющие условия проведения работ, отношения и взаимные обязательства Сторон.

                    p.conf__text 1.3. Материалы и ресурсы — материальные и информационные ресурсы, необходимые Бюро для разработки Элементов дизайна, предоставляемые Клиентом или разрабатываемые и закупаемые Бюро.

                    p.conf__text 1.4. Информационные материалы — разновидность материалов и ресурсов, текстовые, графические материалы, аудио- и видеоматериалы, фотоматериалы и иные материалы, а также результаты интеллектуальной деятельности и приравненные к ним средства индивидуализации юридических лиц, товаров и услуг охраняемых законодательством, необходимые Бюро для разработки Элементов дизайна и предоставляемые Клиентом либо разрабатываемые и закупаемые Бюро в интересах Клиента.

                    p.conf__text 1.5. Результаты работ — результаты выполнения Бюро одного из этапов работ либо их совокупности, передающиеся Клиенту на обозрение и утверждение после их завершения. По мере утверждения Результаты работ передаются Клиенту.

                    p.conf__text 1.6. Промежуточный акт — документ, подтверждающий факт проведения работ над одним или несколькими этапами согласно соответствующему Заданию.

                    p.conf__text 1.7. Повременная система оплаты — определение стоимости работ Бюро как суммы Недельных ставок, действующих на отработанных Бюро неделях согласно плану работ в соответствующем Задании.

                    p.conf__text 1.8. Отработанные недели — фактический период, прошедший от даты начала работ по соответствующему Заданию до их окончания, измеряемый в целых рабочих неделях и округляемый в большую сторону.

                    p.conf__text 1.9. Недельная ставка — стоимость одной рабочей недели (пяти календарных дней) работы Бюро по Повременной системе оплаты, включающая вознаграждение Бюро за отчуждение исключительных прав на Результаты работ. Определяется в каждом Задании для предусмотренных им работ.

                    p.conf__text Повременная система оплаты — работа бюро оплачивается по неделям.

                    p.conf__text 1.10. Первоначальный платёж — первый авансовый платёж Клиента, предусмотренный каждым Заданием, включающий в себя стоимость первичного анализа и резервирования специалистов Бюро с даты начала работ. Первоначальный платёж идёт в зачёт стоимости работ по соответствующему Заданию. Первоначальный платёж не возвращается Клиенту при расторжении Договора или одностороннем отказе от его исполнения Клиентом.

                    p.conf__text 1.11. Дизайн — разработка, создание, проектирование уникальных сценариев использования, способов ввода и вывода информации, методов управления, способов представления информации, элементов идентификации, текстового наполнения и графического оформления.

                    p.conf__text Первоначальный платёж — благодаря ему мы сможем зарезервировать для вас команду и гарантировать дату старта работы по каждому заданию.

                    p.conf__text 1.12. Элемент дизайна — дизайн отдельного объекта, указанного в Задании, например: отдельной страницы сайта, экрана пользовательского интерфейса, рекламного банера, логотипа и элементов фирменного стиля, слайдов электронной презентации, бумажного буклета или флаера, указателя навигации в общественном месте, рекламной полосы в журнале.

                    p.conf__text 1.13. Эскиз элемента дизайна — упрощённое графическое изображение Элемента дизайна, демонстрирующее его идею, сценарий использования, проект визуального решения, текстового наполнения либо отличительные особенности внешней формы.
