extends ../template

block variables
  - var title = 'Наши врачи'

block content
    main.main
      section.doctors
        .container
          .doctors__wrapper
            h1.doctors__title.title Наши специалисты
            button.doctors__btn.button.button--border(type="button") Стаж

          .doctors__tabs-links
            include ../common/tabs-links.pug

          .doctors__wrap
            
            ul.doctors__list.doctors-list
              li.doctors-list__item
                .doctors-list__img-wrap
                  img(class="doctors-list__img" src="app/images/doc-image1.jpg" alt="Невролог-вертебролог")
                .specialists-list__wrap
                  h4.specialists-list__caption Алексеев Валерий Игнатьевич
                  p.specialists-list__text Невролог-вертебролог
                  p.specialists-list__text Стаж 12 лет
                .specialists-list__wrapper
                  a.specialists-list__link.button.button--border.popup-link(href="#") Записаться на приём
                  p.specialists-list__price-info Консультация 2 000 ₽ 

              li.doctors-list__item
                .doctors-list__img-wrap
                  img(class="doctors-list__img" src="app/images/doc-image1.jpg" alt="Невролог-вертебролог")
                .specialists-list__wrap
                  h4.specialists-list__caption Алексеев Валерий Игнатьевич
                  p.specialists-list__text Невролог-вертебролог
                  p.specialists-list__text Стаж 12 лет
                .specialists-list__wrapper
                  a.specialists-list__link.button.button--border.popup-link(href="#") Записаться на приём
                  p.specialists-list__price-info Консультация 2 000 ₽

              li.doctors-list__item
                .doctors-list__img-wrap
                  img(class="doctors-list__img" src="app/images/doc-image1.jpg" alt="Невролог-вертебролог")
                .specialists-list__wrap
                  h4.specialists-list__caption Алексеев Валерий Игнатьевич
                  p.specialists-list__text Невролог-вертебролог
                  p.specialists-list__text Стаж 12 лет
                .specialists-list__wrapper
                  a.specialists-list__link.button.button--border.popup-link(href="#") Записаться на приём
                  p.specialists-list__price-info Консультация 2 000 ₽
              li.doctors-list__item
                .doctors-list__img-wrap
                  img(class="doctors-list__img" src="app/images/doc-image1.jpg" alt="Невролог-вертебролог")
                .specialists-list__wrap
                  h4.specialists-list__caption Алексеев Валерий Игнатьевич
                  p.specialists-list__text Невролог-вертебролог
                  p.specialists-list__text Стаж 12 лет
                .specialists-list__wrapper
                  a.specialists-list__link.button.button--border.popup-link(href="#") Записаться на приём
                  p.specialists-list__price-info Консультация 2 000 ₽