extends ../template

block variables
  - var title = 'Карта сайта'

block content
  .map.margin-block
    .container
      table.map-table
        tbody
          tr
            td
              a.map-table__link(href="main.html" target="_blank") Главная
          tr
            td
              a.map-table__link(href="programs.html" target="_blank") Все программы
          tr
            td
              a.map-table__link(href="referral.html" target="_blank") Направление
          tr
            td
              a.map-table__link(href="prices.html" target="_blank") Цены
          tr
            td
              a.map-table__link(href="doctors.html" target="_blank") Врачи
          tr
            td
              a.map-table__link(href="contacts.html" target="_blank") Контакты
          tr
            td
              a.map-table__link(href="article.html" target="_blank") Статья
          tr
            td
              a.map-table__link(href="conf.html" target="_blank") Политика конфиденциальности