extends ../template

block variables
  - var title = 'Главная'

block content
  main.main

    section.presentation
      .presentation__container.container
        .presentation__wrapper
          .presentation__wrap
            p.presentation__text Комплексный подход к здоровью
            h1.presentation__title.title Центр движения «Кинезия»
            p.presentation__slogan Движение = лечение
            a.presentation__button.button.button--background.popup-link(href="#") Болит?
          
          .presentation__btn-wrap
            include ../common/btn-video.pug

    section.about-company
      .about-company__container.container
        .about-company__article
          p.about-company__text Центр кинезиотерапии «Кинезия» — это альтернатива обезболивающим и операциям и часто единственный работающий метод забыть о боли!
          p.about-company__text К нам обращаются после десятков специалистов, килограммов таблеток, мазей, уколов и шаманских ритуалов. Пациент ищет простой и быстрый способ избавления от боли. Обезболит укол — порядок, сделали массаж помогло, но... боль возвращается!
          h3.about-company__caption Выявить первопричину — залог успешного лечения.
          p.about-company__text Кинезиотерапия — метод активного лечения через движение. Реабилитация проходит с использованием тренажёров и разнообразных форм и техник движения.
          p.about-company__text Это совместный труд пациента, врача и тренера! Это сложно, это не для всех. Но у тех, кто проходит путь, боли уходят, и человек возвращается к активному образу жизни.
          p.about-company__text На диагностике врач, кроме снимков и осмотра, оценивает опорно-двигательный аппарат через нагрузочные тесты, проводимые на специальном оборудовании в движении, что даёт возможность установить первопричину состояния. Также анализируются лабораторные исследования крови, гормональный статус.
          h3.about-company__caption Из массива полученных данных составляется индивидуальная комплексная программа:
          p.about-company__text — Нормализация показателей крови с помощью коррекции питания, восполнение жизненно важных микроэлементов и витаминов.
          p.about-company__text — Самые эффективные приёмы из различных методик от ЛФК до пилатеса, направленные на укрепление мышц, расслабления и восстановления, а также мягкие мануальные техники и элементы массажа.

        .about-company__wrap
          p.about-company__text Записаться на консультацию<br> Вы можете по телефону или через форму на сайте

          a.about-company__link(href="tel:+78124072121") +7 (812) 407-21-21
          a.about-company__button.button.button--background.popup-link(href="#") Запись на консультацию

    .programs-wrap
      include ../common/programs-block.pug

    .reviews-wrap
      include ../common/reviews.pug

    .contacts-wrap
      include ../common/contacts.pug