header.header
    .header__container.container
        a.header__logo(href="#")
            img.header__img(src="app/images/logo.svg" alt="Логотип Кинезия" width="83" height="120")

        nav.header__nav
            ul.header__list.header-list
                li.header-list__item.header-list__item--programs
                    a.header-list__link(href="#") Программы
                li.header-list__item.header-list__item--prices
                    a.header-list__link(href="#") Цены и акции
                li.header-list__item.header-list__item--specialist
                    a.header-list__link(href="#") Специалисты
                li.header-list__item.header-list__item--contact
                    a.header-list__link(href="#") Контакты
                li.header-list__item.header-list__item--health
                    a.header-list__link(href="#") Здоровая спина 
                li.header-list__item
                    a.header-list__link(href="#") Реабилитация
                li.header-list__item
                    a.header-list__link(href="#") Управление весом
                li.header-list__item
                    a.header-list__link(href="#") Забота о здоровье 
                li.header-list__item.header-list__item--tel
                    a.header-list__link(href="tel:+78124072121") +7 (812) 407-21-21
                li.header-list__item.header-list__item--email
                    a.header-list__link(href="#") info@kinesia.ru

        a.header__link.button.button--border(href="#") Записаться на консультацию
        
        button(type="button").header__toggle
            span.header__toggle-middle(aria-label="Открыть меню")