section.programs-block
    .container
        h2.programs-block__subtitle.subtitle Программы
        ul.programs-block__list
            li.programs-block__item
                .programs-block__img-wrap
                    img.programs-block__image(src="app/images/pb-image1.jpg" width="325" height="402" alt="Здоровая спина")
                h4.programs-block__caption.caption Здоровая спина
            li.programs-block__item
                .programs-block__img-wrap
                    img.programs-block__image(src="app/images/pb-image2.jpg" width="325" height="402" alt="Реабилитация")
                h4.programs-block__caption.caption Реабилитация
            li.programs-block__item
                .programs-block__img-wrap
                    img.programs-block__image(src="app/images/pb-image3.jpg"  width="325" height="402" alt="Управление весом")
                h4.programs-block__caption.caption Управление весом
            li.programs-block__item
                .programs-block__img-wrap
                    img.programs-block__image(src="app/images/pb-image4.jpg"  width="325" height="402" alt="Велнес, забота о здоровье")
                h4.programs-block__caption.caption Велнес, забота о здоровье