section.reviews
    .container
        h2.reviews__subtitle.subtitle Отзывы
        .swiper-container
            ul.reviews__list.swiper-wrapper
                li.reviews__item.swiper-slide
                    .reviews__img-wrap
                        img.reviews__img(src="app/images/rb-image1.jpg" width="567" height="378" alt="Светлана, 30 лет")
                        .reviews__btn-wrap
                            include ../common/btn-video.pug
                    h4.reviews__caption.caption Светлана, 30 лет
                    p.reviews__desc Похудение после родов

                li.reviews__item.swiper-slide
                    .reviews__img-wrap
                        img.reviews__img(src="app/images/rb-image2.jpg" width="589" height="370" alt="Михаил, 42 года")
                        .reviews__btn-wrap
                            include ../common/btn-video.pug
                    h4.reviews__caption.caption Михаил, 42 года
                    p.reviews__desc Реабилитация после перелома ноги

                li.reviews__item.swiper-slide
                    .reviews__img-wrap
                        img.reviews__img(src="app/images/rb-image3.jpg" width="558" height="372" alt="Марина, 28 лет")
                        .reviews__btn-wrap
                            include ../common/btn-video.pug
                    h4.reviews__caption.caption Марина, 28 лет
                    p.reviews__desc Болит спина от неудобного стула

            .swiper-button-prev
            .swiper-button-next