ul.specialists-list
    li.specialists-list__item
        .specialists-list__img-wrap
            img(class="specialists-list__img" src="app/images/doc-image1.jpg" alt="Невролог-вертебролог")
        .specialists-list__wrap
            h4.specialists-list__caption Алексеев Валерий Игнатьевич
            p.specialists-list__text Невролог-вертебролог
            p.specialists-list__text Стаж 12 лет
        .specialists-list__wrapper
            a.specialists-list__link.button.button--border.popup-link(href="#") Записаться на приём
            p.specialists-list__price-info Консультация 2 000 ₽ 
    li.specialists-list__item
        .specialists-list__img-wrap
            img(class="specialists-list__img" src="app/images/s-image2.jpg" alt="Невролог-вертебролог")
        .specialists-list__wrap
            h4.specialists-list__caption Алексеев Валерий Игнатьевич
            p.specialists-list__text Невролог-вертебролог
            p.specialists-list__text Стаж 12 лет
        .specialists-list__wrapper
            a.specialists-list__link.button.button--border.popup-link(href="#") Записаться на приём
            p.specialists-list__price-info Консультация 2 000 ₽ 
    li.specialists-list__item
        .specialists-list__img-wrap
            img(class="specialists-list__img" src="app/images/s-image2.jpg" alt="Невролог-вертебролог")
        .specialists-list__wrap
            h4.specialists-list__caption Алексеев Валерий Игнатьевич
            p.specialists-list__text Невролог-вертебролог
            p.specialists-list__text Стаж 12 лет
        .specialists-list__wrapper
            a.specialists-list__link.button.button--border.popup-link(href="#") Записаться на приём
            p.specialists-list__price-info Консультация 2 000 ₽ 
    li.specialists-list__item
        .specialists-list__img-wrap
            img(class="specialists-list__img" src="app/images/doc-image1.jpg" alt="Невролог-вертебролог")
        .specialists-list__wrap
            h4.specialists-list__caption Алексеев Валерий Игнатьевич
            p.specialists-list__text Невролог-вертебролог
            p.specialists-list__text Стаж 12 лет
        .specialists-list__wrapper
            a.specialists-list__link.button.button--border.popup-link(href="#") Записаться на приём
            p.specialists-list__price-info Консультация 2 000 ₽ 