ul.tabs-links
    li.tabs-links__item
        a.tabs-links__link(href="#") Здоровая спина
    li.tabs-links__item
        a.tabs-links__link(href="#") Реабилитация
    li.tabs-links__item
        a.tabs-links__link(href="#") Управление весом
    li.tabs-links__item
        a.tabs-links__link(href="#") Велнес, забота о здоровье