.article {
    margin-top: 60px;

    @media (max-width: $mobile-width) {
        margin-top: 40px;
    }
}

.article__title {
    margin-top: 5px;
    margin-bottom: 60px;

    @media (max-width: $tablet-width) {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    @media (max-width: $mobile-width) {
        font-size: 30px;
        ine-height: 120%;
    }
}

.article__image {
    object-fit: cover;
    object-position: center center;
}

.article__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 60px;

    @media (max-width: $tablet-width) {
        position: relative;
        flex-direction: column;
        margin-top: 40px;
    }
}

.article__wrap {
    max-width: 763px;

    @media (max-width: $tablet-width) {
        max-width: 728px;
    }

    @media (max-width: $mobile-width) {
        max-width: 320px;
    }
}

.article__caption {
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.article__text {
    font-size: 24px;
    line-height: 125%;

    &:not(:last-of-type) {
        margin-bottom: 10px;
    }

    @media (max-width: $mobile-width) {
        font-size: 16px;
        line-height: 125%;
    }
}

.article__text--last {
    max-width: 763px;
    margin-top: 60px;

    @media (max-width: $tablet-width) {
        max-width: 728px;
        font-size: 20px;
        line-height: 125%;
        margin-top: 40px;
    }

    @media (max-width: $mobile-width) {
        max-width: 320px;
    }
}

.article__side-text--mobile {
    @media (max-width: $mobile-width) {
        display: none;
    }
}

.article__caption {
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
}

//slider

.article-slider {
    width: 900px;
    margin-top: 60px;

    @media (max-width: $tablet-width) {
        max-width: 546px;
    }

    @media (max-width: $mobile-width) {
        max-width: 320px;
    }
}

.article-slider__container-top {
    margin-bottom: 30px;

    .article-slider__wrapper {
        width: 100%;
        height: auto;
    }

    .article-slider__slide {
        width: 900px;
        height: auto;
        margin: 0;
    }

    .article-slider__img {
        width: 100%;
        object-fit: contain;
        object-position: center top;
        margin-bottom: 20px;

        @media (max-width: $tablet-width) {
            max-width: 546px;
        }

        @media (max-width: $mobile-width) {
            max-width: 320px;
            height: 213px;
        }
    }
}

.article-slider__container-bottom {

    .article-slider__wrapper {
        width: 100%;
        height: auto;

        &.swiper-wrapper {
            margin: 0;
        }
    }

    .article-slider__slide {
        width: auto;

        &.swiper-slide {
            width: auto;
            height: 120px;
        }

        @media (max-width: $tablet-width) {
            height: 100px;
        }
    }

    .article-slider__img {
        @media (max-width: $tablet-width) {
            height: 100%;
        }
    }
}


//side-wrap

.article__side-wrap {
    width: max-content;
    position: absolute;
    top: 10px;
    right: 0;

    @media (max-width: $tablet-width) {
        position: static;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 310px;
        margin: 40px 0;
        row-gap: 10px;
        column-gap: 20px;
    }
}

.article__side-text {
    max-width: 345px;

    &:not(:last-of-type) {
        margin-bottom: 10px;

        @media (max-width: $tablet-width) {
            margin: 0;
        }
    }
}

.article__side-contact {
    color: $color--header-col;
}