.contacts__wrap {
    margin-top: 80px;

    @media (max-width: $tablet-width) {
        margin-top: 60px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin-top: 40px;
    }
}