.doctors {
    margin-top: 80px;

    @media (max-width: $tablet-width) {
        margin-top: 60px;
    }
}

.doctors__tabs-links {

    @media (max-width: $tablet-width) {
        border-bottom: 1px solid $color-darkgrey;
    }

    .tabs-links {
        display: flex;
        border-bottom: 1px solid $color-darkgrey;

        @media (max-width: $tablet-width) {
            border: none;
        }
    }

    .tabs-links__item {
        &:not(:last-of-type) {
            margin-right: 40px;
        }
    }
}

.doctors__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet-width) {
        margin-bottom: 40px;
    }

    @media (max-width: $mobile-width) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.doctors__title {
    @media (max-width: $tablet-width) {
        margin: 0;
    }

    @media (max-width: $mobile-width) {
        font-size: 30px;
        line-height: 100%;
        margin-bottom: 20px;
    }
}

.doctors__btn {
    position: relative;
    width: 110px;
    height: 37px;
    border-color: $color-grey-rgba-50;
    color: $color--black;

    &:hover {
        background: none;
        color: $color--black;
    }

    &::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 5px;
        background: url("../images/icon-tick.svg") no-repeat;
        background-size: contain;
        right: 10px;
    }

    &::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 9px;
        background: url("../images/btn-rating.svg") no-repeat;
        background-size: contain;
        left: 10px;
    }
}

.doctors__wrap {
    margin-top: 40px;
}

.doctors-list {
    display: flex;
    column-gap: 20px;

    @media (max-width: $tablet-width) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 40px;
    }

    @media (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .specialists-list__wrap {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .specialists-list__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .specialists-list__link {
            @media (max-width: $mobile-width) {
                width: 100%;
            }
        }

        .specialists-list__price-info {
            margin: 0;
            margin-top: 10px;

            @media (max-width: $tablet-width) {
                font-size: 16px;
                line-height: 140%;
            }
        }
    }
}

.doctors-list__img {
    width: 325px;
    height: 450px;
    object-fit: cover;
    object-position: center top;
    border-radius: 10px;

    @media (max-width: $tablet-width) {
        width: 229px;
        height: 244px;
    }

    @media (max-width: $mobile-width) {
        width: 320px;
        height: 341px;
    }
}

/*.doctors__wrap {
    .specialists-list {
        display: flex;
    }

    .specialists-list__item {
        display: flex;
        flex-direction: column;
    }

    .specialists-list__wrapper {
        flex-direction: column;
    }
}*/