.programs-presentation {
    height: 620px;
    background-color: $color-pp-background;
    background-image: url("../images/pp-background.jpg");
    background-repeat: no-repeat;
    margin-bottom: 100px;

    @media (max-width: $laptop-width) {
        background-position: -246px bottom;
    }

    @media (max-width: $tablet-width) {
        height: 636px;
        background-position: -246px bottom;
        background-size: 810px;
        margin-bottom: 60px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        height: 500px;
        background-position: 0px bottom;
        background-size: 543px;
        margin-bottom: 40px;
    }
}

.programs-presentation__container {
    height: 100%;
    display: flex;
    align-items: center;
}

.programs-presentation__wrap {
    margin-left: 50%;

    @media (max-width: $tablet-width) {
        margin-left: 290px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: fill-available;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding-top: 40px;
        padding-bottom: 30px;
    }
}

.programs-presentation__title {
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 20px;
}

.programs-presentation__text {
    font-family: "Circe", san-serif;
    margin-bottom: 40px;
}

.programs-presentation__list {
    display: flex;

    @media (max-width: $tablet-width) {
        white-space: nowrap;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        overflow-x: scroll;
        margin: 0 -20px;
        padding: 0 20px;
        padding-bottom: 10px;

        &::after {
            content: "";
            padding-right: 20px;
        }
    }
}

.programs-presentation__item {
    &:not(:last-of-type) {
        margin-right: 10px;
    }
}

.programs-presentation__link {
    color: $color--black;
    background-color: $color-lightgrey;
    padding: 10px 20px;
}

//gallery

.gallery {
    margin-bottom: 150px;

    .swiper-container {
        overflow: visible;
    }

    @media (max-width: $tablet-width) {
        margin-bottom: 100px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin-bottom: 80px;
    }
}

.gallery__list {
    display: flex;

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}

.gallery__item {
    margin-right: 20px;

    &.swiper-slide {
        width: min-content;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin: 0;
    }
}

.gallery__img-wrap {
    @include list-img;

    @media (max-width: $tablet-width) {
        width: 435px;
        height: 273px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: 320px;
        height: 201px;
    }

    @media (max-width: $mobile-width-s) {
        width: 280px;
        height: 161px;
    }
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.gallery__caption {
    @include list-caption;
}

.gallery__desc {
    font-weight: 200;

    @media (max-width: $tablet-width) {
        font-size: 16px;
        line-height: 150%;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: 100%;
        font-size: 14px;
    }
}

.gallery__link {
    display: none;

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        display: flex;
        width: 138px;
        margin: 30px auto 0;
    }
}

//specialist-block

.specialists {
    margin-bottom: 150px;

    @media (min-width: $tablet-width) and (max-width: $laptop-width) {
        margin-bottom: 100px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin-bottom: 80px;
    }
}

.specialists__container {
    display: flex;
    flex-wrap: wrap;
}

.specialists__number {
    font-family: "Circe", san-serif;
    font-size: 36px;
    line-height: 53px;
    color: $color--header-col;
    margin-left: 13px;

    @media (max-width: $tablet-width) {
        font-size: 20px;
        line-height: 125%;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin-left: 5px;
    }
}

.specialists__link {
    margin: 40px auto 0;

    @media (max-width: $tablet-width) {
        margin-top: 30px;
    }
}

//reviews

.programs-review {
    margin-bottom: 148px;

    @media (max-width: $tablet-width) {
        margin-bottom: 100px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin-bottom: 80px;
    }
}

.programs-discounts {
    margin-bottom: 200px;

    @media (max-width: $tablet-width) {
        margin-bottom: 150px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin-bottom: 100px;
    }
}