.referral {
    height: 626px;
    background-color: $color-white;
    background-image: url("../images/referral-background.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-bottom: 100px;

    @media (max-width: $tablet-width) {
        height: 521px;
        background-position: -90px bottom;
        background-size: contain;
        margin-top: 115px;
        margin-bottom: 60px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        height: 460px;
        background-position: -128px bottom;
        background-size: 722px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.referral__container {
    height: 100%;
    display: flex;
    align-items: center;

    @media (max-width: $tablet-width) {
        align-items: flex-start;
    }
}

.referral__wrap {
    margin-left: 50%;

    @media (max-width: $tablet-width) {
        margin-left: 290px;
        margin-top: 63px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding-bottom: 40px;
    }
}

.referral__title {
    margin-bottom: 20px;

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        font-size: 30px;
        line-height: 100%;
    }
}

.referral__text {
    font-family: "Circe", sans-serif;
    font-size: 24px;
    line-height: 125%;
    margin-bottom: 40px;

    @media (max-width: $tablet-width) {
        font-size: 20px;
        line-height: 125%;
    }
}

.referral__link-wrap {
    display: flex;
    align-items: center;
}

.referral__link {
    width: 325px;
    height: 50px;

    @media (max-width: $tablet-width) {
        width: 296px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: 100%;
    }
}

.referral__old-price {
    font-weight: 300;
    @include font-18;
    text-decoration: line-through;
    margin-right: 20px;
    margin-left: 20px;

    @media (max-width: $tablet-width) {
        display: none;
    }
}

.referral__new-price {
    @include font-18;
    color: $color--blue;

    @media (max-width: $tablet-width) {
        margin-left: 20px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        display: none;
    }
}

//about-program

.about-program {
    margin-bottom: 150px;

    @media (max-width: $tablet-width) {
        margin-bottom: 100px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin-bottom: 80px;
    }
}

.about-program__wrapper {
    display: flex;
    column-gap: 40px;

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        flex-direction: column;
    }
}

.about-program__text-wrap {
    @media (max-width: $tablet-width) {
        height: 585px;
        overflow-y: scroll;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        height: 760px;
        margin-bottom: 30px;
    }
}

.about-program__text {
    font-size: 24px;
    line-height: 125%;

    &:not(:last-of-type) {
        margin-bottom: 20px;
    }

    @media (max-width: $tablet-width) {
        font-size: 20px;
    }
}

.video-list__item {
    &:not(:last-of-type) {
        margin-bottom: 40px;

        @media (max-width: $tablet-width) {
            margin-bottom: 30px;
        }
    }
}

.video-list__img-wrap {
    @include list-img;

    @media (max-width: $laptop-width) {
        width: 369px;
        height: 253px;
    }

    @media (max-width: $tablet-width) {
        width: 273px;
        height: 181px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: 100%;
        height: 213px;
    }
}

.video-list__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.video-list__btn-wrap {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    .btn-video {
        width: 100%;
        height: 100%;

        .btn-video__svg {
            width: 58px;
            height: 58px;
            top: 45px;
            left: 55px;
        }
    }

    @media (max-width: $laptop-width) {
        width: 80px;
        height: 80px;

        .btn-video {
            .btn-video__svg {
                width: 30px;
                height: 30px;
                top: 25px;
                left: 28px;
            }
        }
    }

    @media (max-width: $tablet-width) {
        width: 50px;
        height: 50px;

        .btn-video {
            .btn-video__svg {
                width: 19px;
                height: 19px;
                top: 15px;
                left: 17px;
            }
        }
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: 60px;
        height: 60px;

        .btn-video {
            .btn-video__svg {
                width: 23px;
                height: 23px;
                top: 18px;
                left: 21px;
            }
        }
    }
}

.video-list__caption {
    @include list-caption;
}

.video-list__desc {
    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        font-weight: 200;
        font-size: 14px;
        line-height: 150%;
    }
}

//specialists

.referral-specialists {
    margin-bottom: 150px;

    @media (max-width: $tablet-width) {
        margin-bottom: 100px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin-bottom: 80px;
    }
}

.referral-specialists__text-wrap {
    display: flex;
    column-gap: 40px;
    margin-top: 60px;

    @media (max-width: $tablet-width) {
        height: 320px;
        flex-direction: column;
        row-gap: 20px;
        overflow-y: scroll;
        margin-top: 40px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        height: 460px;
    }
}

.referral-specialists__text {
    width: 420px;

    @media (max-width: $tablet-width) {
        width: 100%;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        font-size: 16px;
        line-height: 125%;
    }
}

//plan

.plan {
    margin-bottom: 150px;

    @media (min-width: $tablet-width) and (max-width: $laptop-width) {
        margin-bottom: 100px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin-bottom: 80px;
    }
}

.plan__subtitle {
    margin-bottom: 80px;

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin-bottom: 60px;
    }
}

.plan__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 115px;
    row-gap: 65px;
    counter-reset: plans;



    @media (min-width: $tablet-width) and (max-width: $laptop-width) {
        column-gap: 20px;
        row-gap: 80px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        row-gap: 50px;
    }
}

.plan__item {
    position: relative;
    counter-increment: plans;
    padding-left: 123px;

    &::before {
        content: "0" counter(plans);
        position: absolute;
        top: 32px;
        left: 8px;
        height: 100px;
        font-family: "Roboto", sans-serif;
        font-size: 130px;
        color: $color-light-blue-50;
        letter-spacing: -0.04em;
        z-index: 5;

        @media (min-width: $tablet-width) and (max-width: $laptop-width) {
            font-size: 92px;
            top: -20px;
            left: -15px;
        }

        @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
            top: -16px;
            font-size: 68px;
        }
    }

    @media (min-width: $tablet-width) and (max-width: $laptop-width) {
        padding: 0;
        width: min-content;
        justify-self: center;
    }
}

.plan__img-wrap {
    @include list-img;
    width: 440px;
    height: 262px;

    @media (min-width: $tablet-width) and (max-width: $laptop-width) {
        width: 354px;
        height: 211px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        width: 320px;
        height: 191px;
    }

    @media (max-width: $mobile-width-s) {
        width: 280px;
        height: 151px;
    }
}

.plan__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.referral-discounts {
    margin-bottom: 200px;

    @media (max-width: $tablet-width) {
        margin-bottom: 150px;
    }

    @media (min-width: $mobile-width-s) and (max-width: $mobile-width-l) {
        margin-bottom: 80px;
    }
}