block variables

html
    head
        meta(charset="utf-8")
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
        link(rel="stylesheet" href="app/styles/app.min.css")
        <script src="https://api-maps.yandex.ru/2.0-stable/?apikey=c4a97329-5172-4985-a1bd-9aa314e5cb92&load=package.standard&lang=ru-RU" type="text/javascript"></script>

    body
        .wrapper
            include common/header.pug

            .content
                block content

            include common/footer.pug

            include common/popup-form.pug
            include common/popup-application.pug
            include common/video-popup.pug

        script(src="app/scripts/swiper-bundle.min.js")
        script(src="app/scripts/swiper.js")
        script(src="app/scripts/imask.js")
        script(src="app/scripts/price-tabs.js")
        script(src="app/scripts/price-select.js")
        script(src="app/scripts/article-slider.js")

        script(src="app/scripts/header.js")
        script(src="app/scripts/burger.js")
        script(src="app/scripts/popup-form.js")
        script(src="app/scripts/form-error.js")
        script(src="app/scripts/video-popup.js")
        script(src="app/scripts/map.js")