block variables

html
    head
        meta(charset="utf-8")
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="app/styles/app.min.css")

    body
        .wrapper
            include common/header.pug

            .content
                block content

            include common/footer.pug

        script(src="app/scripts/swiper-bundle.min.js")
        script(src="app/scripts/swiper.js")