block variables

html
    head
        meta(charset="utf-8")
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
        link(rel="stylesheet" href="app/styles/app.min.css")

    body
        .wrapper
            include common/header.pug

            .content
                block content

            include common/footer.pug

            include common/popup-form.pug
            include common/popup-application.pug

        script(src="app/scripts/swiper-bundle.min.js")
        script(src="app/scripts/swiper.js")
        script(src="app/scripts/imask.js")
        script(src="app/scripts/price-tabs.js")
        script(src="app/scripts/price-select.js")
        script(src="app/scripts/article-slider.js")

        script(src="app/scripts/header.js")
        script(src="app/scripts/burger.js")
        script(src="app/scripts/popup-form.js")
        script(src="app/scripts/form-error.js")